<%= form_with url: contacts_path, local: true do |form| %>
  <div>
    <%= form.label :name, "Your Name" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :email, "Your Email" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :message, "Your Message" %>
    <%= form.text_area :message, required: true %>
  </div>

  <div>
    <%= form.submit "Send Message" %>
  </div>
<% end %>
